* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat';
}

h4 {
    font-size: 15px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.tarjeta {
    position: relative;
    padding: 5px;
    width: 280px;
    border: 2px solid;
    box-shadow: 10px 10px 15px #000000a5;
    border-radius: 10px;
    background-image: url("./img/fondo1.jpg");
    background-size: cover;
}

img {
    top: 40px;
    left: 15px;
    position: absolute;
    width: 150px;
}

.nuestro {
    padding-top: 15px;
    font-size: 30px;
    color: #ffa600;
    text-shadow: 1px 1px 1px black;
}

.cumple {
    padding-left: 15px;
}

.sombra {
    position: absolute;
    border-radius: 10px;
    top: 0px;
    left: 0px;
    width: 280px;
    height: 100%;
    background-color: #00000015;
}

.tarjeta>p {
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #d400ff;
    text-shadow: 1px 1px 2px white,
        -1px -1px 2px white;
}

.datos>h3 {
    margin-left: -15px;
    text-align: center;
    color: #d9ff00;
    text-shadow: 1px 1px 1px black;
    font-size: 100px;
}

.datos>h4 {
    font-size: 25px;
}

.cumple {
    color: #1100ff;
}

.nom {
    font-size: 45px;
    color: #ff0000;
    text-shadow: 1px 1px 1px black;
}

.datos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.d2 {
    border-radius: 0 0 10px 10px;
}

.fecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    color: #7a7800;
    text-shadow: 1px 1px 2px white, -1px -1px 2px white;
}

.direccion {
    width: 50%;
    text-align: center;
    color: #046b00;
    text-shadow: 1px 1px 2px white, -1px -1px 2px white;
    margin-top: -10px;
}

h4 {
    font-size: 20px;
}

.cancion {
    margin: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(245, 20, 58);
}

.nuestro {
    margin-left: 60%;
}

h5 {
    font-size: 20px;
    text-align: center;
    margin: 5px;
    margin-top: 20px;
    padding: 5px;
    color: #000000;
    text-shadow: 1px 1px 1px white;
}